{
   "semi": true,
   "singleQuote": false,
   "trailingComma": "none",
   "printWidth": 80,
   "tabWidth": 2,
   "useTabs": true,
   "bracketSpacing": false,
   "arrowParens": "avoid",
   "endOfLine": "lf",
   "quoteProps": "preserve",
   "htmlWhitespaceSensitivity": "ignore",
   "embeddedLanguageFormatting": "off",
   "overrides": [{"files": "*.html", "options": {"parser": "html"}}]
}
